._local {
	:global {
		.btn_more_wrap {
			position: fixed;
			top: 21px;
			right: 21px;
			z-index: 4;
			padding: 9px;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: transparent;
			opacity: 0.6;

			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
				opacity: 1;
			}

			.btn_more {
				border: 1px solid rgba(255, 255, 255, 0.45);
				border-radius: 15px;
				background-color: transparent;
				color: white;

				.logo {
					max-width: 12px;
				}
			}
		}

		.ant-modal-content {
			background-color: transparent;
		}

		.modal_wrap {
			overflow: hidden;
			width: @width_page;
			height: @height_page;
			border-radius: @radius_modal;
			background: @color_bg_modal;
			box-shadow: @shadow_normal;

			.tab_items {
				padding: 15px;
				width: @width_tab;
				height: 100%;
				background: @color_bg_modal_content;

				.tab_item {
					margin-bottom: 18px;
					width: 100%;
					border-radius: @radius_normal;
					border-radius: 50%;
					color: black;
					text-decoration: none;
					font-size: 18px;

					aspect-ratio: 1;

					&:hover {
						background-color: @color_bg_sub;
					}

					&:last-child {
						margin-bottom: 0;
					}

					&.active {
						position: relative;
						background-color: @color_bg_sub;
					}
				}
			}
		}
	}
}
