._local {
	position: fixed;
	top: 30px;
	left: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;

	:global {
		.search_wrap {
			.btn_input_search {
				box-sizing: border-box;
				padding: 0 30px;
				width: 240px;
				height: 30px;
				border: 1px solid fade(white, 45%);
				border-radius: 30px;
				background-color: transparent;
				color: white;
				text-align: center;
				font-size: 14px;
				line-height: 30px;
				opacity: 0.45;
			}

			.icon_search {
				left: 12px;
				color: fade(white, 45%);
			}
		}

		.modal_search {
			.icon_engine {
				margin-top: 90px;
				margin-bottom: 60px;
			}

			.input_wrap {
				width: 600px;

				.input_search {
					padding: 0 54px;
					width: 720px;
					height: 60px;
					border-radius: 12px;
					font-size: 24px !important;
					line-height: 60px;

					&::placeholder {
						color: fade(black, 24%);
					}

					&:focus {
						& + .options_wrap {
							.icon_search,
							.icon_close {
								opacity: 1;
							}
						}
					}
				}

				.icon_search {
					left: 15px;
					font-size: 24px;
					opacity: 0.24;
				}

				.icon_close {
					right: 15px;
					font-size: 21px;
					opacity: 0;
				}
			}
		}
	}
}
