@import './var.less';

._local {
	position: relative;
	width: 100vw;
	height: 100vh;

	:global {
		.content_wrap {
			z-index: 3;
			padding: @padding;
			padding-bottom: @padding / 2;

			.link_items_wrap {
				height: calc(100vh - 1.5 * @padding - @height_indicate - @height_bar);
			}
		}
	}
}
