@border-radius-base: 6px;
@border-radius-sm: 6px;
@shadow-color: rgba(0, 0, 0, 0.05);
@shadow-1-down: 4px 4px 40px @shadow-color;
@border-color-split: whitesmoke;
@border-color-base: whitesmoke;
@font-size-base: 13px;
@success-color: #52c41a;
@warning-color: #faad14;
@error-color: #f5222d;
@text-color: #000;
@hover-color: #eee;
@primary-color: #000;
@table-row-hover-bg: white;
@dark-half: #3b2222;
@purple: #d897eb;
@shadow-1: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
@shadow-2: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
@transition-ease-in: all 0.3s ease-in;
@transition-ease-out: all 0.3s ease-out;
@ease-in: ease-in;

@color_main: #1890ff;
@color_sub: #1f6db6;
@color_bg: #fff;
@color_bg_sub: #f8f9fd;
@color_bg_modal: fade(@color_bg_sub, 93%);
@color_bg_modal_content: fade(@color_bg_sub, 30%);
@color_hover: #eee;
@color_subtext_1: whitesmoke;
@color_subtext_2: #ddd;
@color_border:rgba (0, 0, 0, 0.018);

@fontsize_normal: 13px;
@fontsize_title: 16px;
@fontsize_h3: 18px;
@fontsize_h2: 24px;
@fontsize_h1: 30px;

@radius_normal: 6px;
@radius_bar_item: 12px;
@radius_link_item: 18px;
@radius_bar: 18px;
@radius_modal: 12px;

@padding_content: 12vw;
@width_tab: 80px;
@width_page: 900px;
@height_page: 640px;

@bg_gradient: transparent linear-gradient(80deg, @color_sub 1%, @color_main 99%) repeat scroll 0% 0%;
