._local {
	display: flex;
	box-sizing: border-box;
	padding: 24px;
	width: 330px;
	height: 480px;

	:global {
		.title_wrap {
			.title {
				font-weight: bold;
				font-size: 18px;
				line-height: 1;
			}
		}
	}
}
