._local {
	:global {
		.btn_more_wrap {
			position: fixed;
			top: 21px;
			right: 21px;
			z-index: 4;
			padding: 9px;
			width: 48px;
			height: 48px;
			border-radius: 50%;
			background-color: transparent;
			opacity: 0.6;

			&:hover {
				background-color: rgba(255, 255, 255, 0.2);
				opacity: 1;
			}

			.btn_more {
				border: 1px solid rgba(255, 255, 255, 0.45);
				border-radius: 15px;
				background-color: transparent;
				color: white;

				.logo {
					max-width: 12px;
				}
			}
		}

		.ant-modal-content {
			background-color: transparent;
		}

		.modal_wrap {
			overflow: hidden;
			width: 900px;
			height: @height;
			border-radius: @radius_modal;
			background: fade(@color_bg_sub, 84%);
			box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

			backdrop-filter: blur(45px);
			@height: 640px;
			@height_tab: 66px;
		}
	}
}
