._local {
	position: fixed;
	top: calc((100vh - var(--height_page)) / 2);
	left: calc((100vw - var(--width_page)) / 2 + var(--width_tab));
	z-index: 11;
	overflow: scroll;
	width: calc(var(--width_page) - var(--width_tab));
	height: var(--height_page);
	border-top-right-radius: var(--radius_modal);
	border-bottom-right-radius: var(--radius_modal);
}
